<div class="sidebar">

    <h3 class="text-center mt-3">

        🛡 SentinelShield

    </h3>

    <hr>

    <a href="/dashboard">

        <i class="bi bi-speedometer2"></i>

        Dashboard

    </a>

    <a href="#">

        <i class="bi bi-cpu"></i>

        Monitoring

    </a>

    <a href="#">

        <i class="bi bi-folder2-open"></i>

        Files

    </a>

    <a href="#">

        <i class="bi bi-globe"></i>

        Network

    </a>

    <a href="#">

        <i class="bi bi-file-earmark-text"></i>

        Reports

    </a>

</div>